#recordTable, #divtopTenTable, #champs{
	text-align: center;
}

table.recordTable {
	margin: auto;
	border-style: solid;
	border-width: 1px;
	text-align: left;
	background-color: white;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	border-collapse: collapse;
	border-color: gray;
}


table.recordTable th {
	font-weight: normal;
	color: #FFFFAA;
	background-color: #2E4D47;
}

table.recordTable td {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-color: gray;
	padding: 0px 7px 0px 1px;
	vertical-align: middle;
	/* word-wrap : break-word; */
	/* padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	min-width:60px; */
}

table.titletable tr:nth-child(even) {
	background-color: #A2D5A1;
}

table.titletable tr:nth-child(odd) {
	background-color:white;
}

table.recordTable tr.header {
	background-color: #2E4D47;
	color: #FFFFAA;
}


table.recordTable tr a.eventAnchor{
	text-decoration:none;
}

table.recordTable tr.performance{
	background-color: white;
	color: black;
	font-style: normal;
}

table.recordTable tr.nonrecord{
	display:none;
}

table.recordTable tr.recordHighlight{
	display:table-row;
	background-color: #A2D5A1;
/* 	background-color: #1c5e52; */
	color: black;
/* 	color :#FFFFAA;  */
	font-style: normal; 
/*	font-size: larger;*/
}

table.recordTable tr.recordHeader{
	display:table-row;
/* 	background-color: #A2D5A1; */
	background-color: #1c5e52;
/* 	color: black; */
	font-style: normal; 
	color :#FFFFAA; 
/*	font-size: larger;*/
}

table.recordTable tr.performanceHighlight{
	font-style: italic; 
	display:table-row;
/*	background-color: #A2D5A1;*/
/* 	font-size: smaller; */
}

table.recordTable td.eventClick:hover{
	cursor: pointer;
	/* background-color: #A2D5A1; */
	/* color: black; */
	
}

table.recordTable tr.currentYear {
	font-weight: bold
}

/* .toptentableheader {
	font-size: 10pt;

}

.toptentableheader i {
	font-size: 11pt;
} */

.expandall {
	float: right;
}

.toptentableheader a {
	text-decoration:none;
}

.toptentableheader a {
	color: #6a9990;
	text-decoration: none;
}


.toptentableheader a:link {
	/* color: #2e4d47; */
	text-decoration: none;
}

.toptentableheader a:visted {
	color: #2e4d47;
	text-decoration: none;
}

.toptentableheader a:hover {
	color:black;
	text-decoration: none;
}

.toptenicon {
	vertical-align: middle;
}