:root {
	--futureTextColor: black;  
	--pastTextColor: #6a9990;
	--link: var(--link);
}

.row0 {
  background-color: #a2d5a1;
}

.row1 {
  background-color: #ffffff;
}

td {
		padding: 0px 7px 0px 1px;
}

/* don't display the results column unles there are results */
td:nth-child(5) {
	display:none;
}

.schedlink {
	text-align: center;
}


.schedtable {
	border-style: solid;
	border-width: 1px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

.rowColorF {
	color: var(--futureTextColor);
}

.rowColorF a:link {
	text-decoration: none;
	color: var(--link);
}

.rowColorF a:hover {
	color:var(--futureTextColor);
	text-decoration: none;
}

.rowColorF a:visited {
  color: var(--link);
	text-decoration: none;
}

.rowColorP {
	color: var(--pastTextColor);
}

.rowColorP a:link {
	text-decoration: none;
	color: var(--pastTextColor);
}

.rowColorP a:hover {
	color: black;
	text-decoration: none;
}

.rowColorP a:visited {
  color: var(--pastTextColor);
	text-decoration: none;
}

.schedicons {
		font-size: 18px;
}

	