a:link{
color:#148120;
}
a:visited{
color:#1E3C22;
}
a:active{
color:#1BAF29;
}
body{
color:#434343;
background-color:#E0E0E0;
}
h1{
color:#434343;
}
h2, marquee{
color:#434343;
}
h3{
color:#434343;
}
h4{
color:#434343;
}
h5{
color:#434343;
}
h6{
color:#434343;
}
label, .MSTHEME-LABEL{
color:#434343;
}
FIELDSET{
border-color:#A8AFA7;
color:#000000;
}
LEGEND{
color:#434343;
}
SELECT{
border-color:#9AA097;
color:#000000;
}
TABLE{
table-border-color-light:#F1F1F1;
table-border-color-dark:#F1F1F1;
border-color:#333333;
color:#434343;
}
CAPTION{
color:#434343;
}
TH{
color:#434343;
}
HR{
color:#A8AFA7;
}
TD{
border-color:#333333;
}
