a:link{
color:#00B013;
}
a:visited{
color:#00870F;
}
a:active{
color:#A6B000;
}
body{
color:#176050;
background-color:#E9E9E9;
}
h1{
color:#176050;
}
h2, marquee{
color:#176050;
}
h3{
color:#176050;
}
h4{
color:#176050;
}
h5{
color:#176050;
}
h6{
color:#176050;
}
label, .MSTHEME-LABEL{
color:#176050;
}
FIELDSET{
border-color:#A2AAA0;
color:#000000;
}
LEGEND{
color:#176050;
}
SELECT{
border-color:#9AA097;
color:#000000;
}
TABLE{
table-border-color-light:#FFFFFF;
table-border-color-dark:#FFFFFF;
border-color:#333333;
color:#176050;
}
CAPTION{
color:#176050;
}
TH{
color:#176050;
}
HR{
color:#A2AAA0;
}
TD{
border-color:#333333;
}
