h1 {
	color: #2E4D47;
}

h2 {
	color: #2E4D47;
}

h3 {
	color: #2E4D47;
}

h4 {
	font-style: italic;
	color: #2E4D47;
}

#banner {
	max-height: 200px;
}

.scrollLine img {
	width: 150px;
}

.center {
	margin: auto;
}

li a {
	display: block
}

li a:link {
	color: #FFFFAA;
	text-decoration: none
}

li a:visited {
	text-decoration: none
}

li a:hover {
	color: #FFFFFF
}

table.menubar {
	background-color: #2e4d47;
	text-align: center
}

table.menubar a:link {
	font-family: Arial;
	font-size: 10pt;
	color: #FFFFAA;
	text-decoration: none
}

table.menubar a:visited {
	font-family: Arial;
	font-size: 10pt;
	color: #FFFFAA;
	text-decoration: none
}

table.menubar a:hover {
	color: #FFFFFF
}

table.menuleaf a {
	display: block
}

table.menuleaf a:link {
	font-family: Arial;
	font-size: 10pt;
	color: #FFFFAA;
	text-decoration: none
}

table.menuleaf a:hover {
	color: #FFFFFF
}

table.menuleaf a:visited {
	font-family: Arial;
	font-size: 10pt;
	color: #FFFFAA;
	text-decoration: none
}

table.menubar2 {
	background-color: #1c5e52;
	text-align: center
}

table.menubar2 a:link {
	font-family: Arial;
	font-size: 10pt;
	color: #FFFFAA;
	text-decoration: none
}

table.menubar2 a:visited {
	font-family: Arial;
	font-size: 10pt;
	color: #FFFFAA;
	text-decoration: none
}

table.menubar2 a:hover {
	color: #FFFFFF
}

table.menubar3 {
	background-color: #1c5e52;
	text-align: center
}

table.menubar3 a:link {
	font-family: Arial;
	font-size: 10pt;
	color: #FFFFAA;
	text-decoration: none
}

table.menubar3 a:visited {
	font-family: Arial;
	font-size: 10pt;
	color: #FFFFAA;
	text-decoration: none
}

table.menubar3 a:hover {
	color: #FFFFFF
}

ul {
	margin-left: 0;
	padding: 0;
	font-weight: normal
}

ul li:last-child {
	border-bottom-style: solid;
	border-bottom-width: 0px
}

ul li {
	border-top-style: solid;
	border-top-width: 0px;
	padding: 2px;
	border-left-width: 0px;
	border-right-width: 0px
}

ul.o {
	list-style-type: square;
}

.style1 {
	text-align: left
}

.style1h {
	text-align: center;
	color: #2E4D47;
	font-size: x-large
}

.style1m {
	text-align: center;
	color: #2E4D47;
	font-size: large
}

.style1a {
	text-align: left;
	color: #FFFFAA
}

.style1n {
	text-align: left;
	color: black;
}

.style2 {
	background-image: url('images/smsbbt.jpg');
}

.style3 {
	text-align: right;
}

.menus {
	text-align: center;
	font-family: Arial;
	font-size: 10pt;
	color: #FFFF66;
	background-color: #2e4d47;
}

.style14 {
	border-width: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.style15 {
	text-align: center;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse
}

.style16 {
	font-size: medium;
}

.style17 {
	border-color: #000000;
	border-width: 0;
	text-align: center;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

.style18 {
	font-family: Arial;
	font-size: 10pt;
	color: #FFFFAA;
}

.style19 {
	border-style: solid;
	border-width: 1px;
	text-align: left;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

.style20 {
	border-width: 0;
	text-align: center;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

.style22 {
	margin: 2px;
	border-width: 0;
}

.byline {
	font-family: sans-serif;
	font-size: 75%;
	color: gray;
	line-height: 20%;
}

.headline {
	line-height: 20%;
}

.style101 {
	text-align: center;
}

.style99 {
	background-image: url('/images/throws1st.jpg');
}

.schedlink a:link {
	color: #2e4d47;
}

/* visited link */
.schedlink a:visited {
	color: #2e4d47;
}

/* mouse over link */
.schedlink a:hover {
	color: black;
}

/* selected link */
.schedlink a:active {
	color: black;
}

.schedlink a:link {
	text-decoration: none;
}

.schedlink a:visited {
	text-decoration: none;
}

.schedlink a:hover {
	text-decoration: none;
	text-decoration: underline;
}

.schedlink a:active {
	color: white;
	background-color: #2e4d47;
	text-decoration: none;
}