a:link{
color:#983738;
}
a:visited{
color:#703637;
}
a:active{
color:#C76565;
}
body{
color:#000000;
background-color:#FFFFFF;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#919191;
color:#000000;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#D8D0B4;
color:#000000;
}
TABLE{
table-border-color-light:#AAAAAA;
table-border-color-dark:#919191;
border-color:#919191;
color:#000000;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#919191;
}
TD{
border-color:#919191;
}
