a:link{
color:#B24B45;
}
a:visited{
color:#45201E;
}
a:active{
color:#CF8985;
}
body{
color:#383838;
background-color:#FFFFFF;
}
h1{
color:#383838;
}
h2, marquee{
color:#383838;
}
h3{
color:#383838;
}
h4{
color:#383838;
}
h5{
color:#383838;
}
h6{
color:#383838;
}
2 label, .MSTHEME-LABEL{
color:#383838;
}
FIELDSET{
border-color:#BBBBBB;
color:#FFFFFF;
}
LEGEND{
color:#383838;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#BFBFBF;
table-border-color-dark:#B0B0B0;
border-color:#333333;
color:#383838;
}
CAPTION{
color:#383838;
}
TH{
color:#383838;
}
HR{
color:#B6544E;
}
TD{
border-color:#333333;
}
