a:link{
color:#DF0A00;
}
a:visited{
color:#8B0200;
}
a:active{
color:#DFA100;
}
body{
color:#383838;
background-color:#FFFFFF;
}
h1{
color:#12685E;
}
h2, marquee{
color:#12685E;
}
h3{
color:#12685E;
}
h4{
color:#12685E;
}
h5{
color:#12685E;
}
h6{
color:#12685E;
}
label, .MSTHEME-LABEL{
color:#12685E;
}
FIELDSET{
border-color:#E8E8E8;
color:#000000;
}
LEGEND{
color:#12685E;
}
SELECT{
border-color:#E8E8E8;
color:#000000;
}
TABLE{
table-border-color-light:#DF0A00;
table-border-color-dark:#8B0200;
border-color:#333333;
color:#12685E;
}
CAPTION{
color:#12685E;
}
TH{
color:#12685E;
}
HR{
color:#B6544E;
}
TD{
border-color:#333333;
}
