.mstheme{
nav-banner-image:url(banner_compass.gif);
separator-image:url(rule_compass.gif);
list-image-1:url(bull1_compass.gif);
list-image-2:url(bull2_compass.gif);
list-image-3:url(bull3_compass.gif);
navbutton-horiz-normal:url(nav_hor_compass.gif);
navbutton-horiz-hovered:url(nav_hor_over_compass.gif);
navbutton-horiz-pushed:url(nav_hor_down_compass.gif);
navbutton-vert-normal:url(nav_vert_compass.gif);
navbutton-vert-hovered:url(nav_vert_over_compass.gif);
navbutton-vert-pushed:url(nav_vert_down_compass.gif);
navbutton-home-normal:url(nav_home_compass.gif);
navbutton-home-hovered:url(nav_home_over_compass.gif);
navbutton-up-normal:url(nav_up_compass.gif);
navbutton-up-hovered:url(nav_up_over_compass.gif);
navbutton-prev-normal:url(nav_prev_compass.gif);
navbutton-prev-hovered:url(nav_prev_over_compass.gif);
navbutton-next-normal:url(nav_next_compass.gif);
navbutton-next-hovered:url(nav_next_over_compass.gif);
navbutton-next-pushed:url(nav_next_down_compass.gif);
}
UL{
list-style-image:url(bull1_compass.gif);
}
UL UL{
list-style-image:url(bull2_compass.gif);
}
UL UL UL{
list-style-image:url(bull3_compass.gif);
}
.mstheme-bannertxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:5;
color:#383838;
}
.mstheme-horiz-navtxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:2;
color:#383838;
}
.mstheme-vert-navtxt{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:2;
color:#383838;
}
.mstheme-navtxthome{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#383838;
}
.mstheme-navtxtup{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#383838;
}
.mstheme-navtxtprev{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#383838;
}
.mstheme-navtxtnext{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:1;
color:#383838;
}
