a:link{
color:#003399;
}
a:visited{
color:#993300;
}
a:active{
color:#336633;
}
body{
color:#000000;
background-color:#CCCCCC;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#330099;
color:#FFFFFF;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#999999;
table-border-color-dark:#000000;
border-color:#000000;
color:#000000;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#330099;
}
TD{
border-color:#330099;
}
