a:link{
color:#999999;
}
a:visited{
color:#990000;
}
a:active{
color:#666666;
}
body{
color:#000000;
background-color:#FFFFFF;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#000000;
color:#000000;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#CCCCCC;
color:#000000;
}
TABLE{
table-border-color-light:#CCCCCC;
table-border-color-dark:#666666;
border-color:#666666;
color:transparent;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#000000;
}
TD{
border-color:#000000;
}
