.mstheme{
nav-banner-image:url(ablbnr.gif);
separator-image:url(ablrule.gif);
list-image-1:url(ablbull1.gif);
list-image-2:url(ablbull2.gif);
list-image-3:url(ablbull3.gif);
navbutton-horiz-pushed:url(blhbp.gif);
navbutton-horiz-normal:url(blhbs.gif);
navbutton-horiz-hovered:url(blhbh.gif);
navbutton-vert-pushed:url(blvbp.gif);
navbutton-vert-normal:url(blvbs.gif);
navbutton-vert-hovered:url(blvbh.gif);
navbutton-home-normal:url(blhomes.gif);
navbutton-home-hovered:url(blhomeh.gif);
navbutton-up-normal:url(blups.gif);
navbutton-up-hovered:url(bluph.gif);
navbutton-prev-normal:url(blprevs.gif);
navbutton-prev-hovered:url(blprevh.gif);
navbutton-next-normal:url(blnexts.gif);
navbutton-next-hovered:url(blnexth.gif);
}
UL{
list-style-image:url(ablbull1.gif);
}
UL UL{
list-style-image:url(ablbull2.gif);
}
UL UL UL{
list-style-image:url(ablbull3.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,arial,helvetica;
font-size:1;
color:#000000;
}
