.mstheme{
nav-banner-image:url(blbnr.gif);
separator-image:url(blrule.gif);
list-image-1:url(blbull1.gif);
list-image-2:url(blbull2.gif);
list-image-3:url(blbull3.gif);
navbutton-horiz-pushed:url(blphbp.gif);
navbutton-horiz-normal:url(blphb.gif);
navbutton-vert-pushed:url(blpvbp.gif);
navbutton-vert-normal:url(blpvb.gif);
navbutton-home-normal:url(blhome.gif);
navbutton-up-normal:url(blup.gif);
navbutton-prev-normal:url(blprev.gif);
navbutton-next-normal:url(blnext.gif);
}
UL{
list-style-image:url(blbull1.gif);
}
UL UL{
list-style-image:url(blbull2.gif);
}
UL UL UL{
list-style-image:url(blbull3.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,arial,helvetica;
font-size:1;
color:#000000;
}
