a:link{
color:#CE3345;
}
a:visited{
color:#A43ACE;
}
a:active{
color:#E99B18;
}
body{
color:#4864A7;
background-color:#FFFFFF;
}
h1{
color:#4864A7;
}
h2,marquee{
color:#4864A7;
}
h3{
color:#4864A7;
}
h4{
color:#4864A7;
}
h5{
color:#4864A7;
}
h6{
color:#4864A7;
}
LABEL,.MSTHEME-LABEL{
color:#4864A7;
}
FIELDSET{
border-color:#727272;
color:#000000;
}
LEGEND{
color:#4864A7;
}
SELECT{
border-color:#E9E9E9;
color:#000000;
}
TABLE{
table-border-color-light:#585858;
table-border-color-dark:#000000;
border-color:#000000;
color:#000000;
}
CAPTION{
color:#4864A7;
}
TH{
color:#4864A7;
}
HR{
color:#727272;
}
TD{
border-color:#727272;
}
