a:link{
color:#9D454F;
}
a:visited{
color:#814E95;
}
a:active{
color:#B9626C;
}
body{
color:#000000;
background-color:#FFFFFF;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#D2D2D2;
color:#000000;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#D2D2D2;
color:#000000;
}
TABLE{
table-border-color-light:#585858;
table-border-color-dark:#000000;
border-color:#000000;
color:#000000;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#727272;
}
TD{
border-color:#727272;
}
